    <div class="footer">
      <?php date_default_timezone_set('Europe/London'); ?>
      <small>&copy; EZTunes <?=date('Y')?></small>
    </div>
  </div> <!-- end container -->
  <script src="../assets/vendor/js/jquery.min.js"></script>
  <script src="../assets/vendor/js/bootstrap.min.js"></script>
</body>
</html>