  </div> <!-- end container -->

  <hr>

  <footer class="footer text-center">
    <p>
      <?php date_default_timezone_set('Europe/London'); ?>
      &copy; <a href="index.php">EZTunes</a> <?php echo date('Y'); ?> | <a href="http://validator.w3.org/check?uri=referer" title="W3C HTML Validation Service">HTML Validation</a> | <a href="https://bitbucket.org/kvarley/year-2-wl-individual-project/src" title="View this websites sourcecode on BitBucket.">Sourcecode</a>
    </p>
  </footer>

  <script src="assets/vendor/js/jquery.min.js"></script>
  <script src="assets/vendor/js/bootstrap.min.js"></script>
</body>
</html>