.eztunes .navbar {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 0;
}

.navbar-text-item {
  padding: 15px 0;
  color: #999;
  margin: 0;
}

.coverart {
  width: 40%;
  height: auto;
}

.featurette .col-md-5 {
  text-align: center;
}

.featurette .fa {
  font-size: 20rem;
}

.text-bold {
  font-weight: bold;
}